body{
    background-image: url("pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

}
.icon{
    width:300px;
    height: 10%;
    padding:10px;
    text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  display:block;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--clr-primary-5);
    
}
.icon:hover, .icon:focus{
    background-color: rgb(85, 84, 155);
    cursor: pointer;
    width: 50px;
}
h1{
    font-size: 4rem;
    letter-spacing: var(--spacing);
     text-transform: capitalize;
     line-height: 1.25;
     margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
     text-align: center;
     padding-top:10%;
     color: cornsilk;
     padding: 20px;
}
span{
    color: aquamarine;
}
.jum-jum{
    
    margin: auto;
    font-family: var(--ff-primary);
    font-size: 1rem;
    color: bisque;
    padding-top:5px;
    padding-bottom:5px;

   
}
.jum-jum h3{
    text-align: center;
    margin:0;
    /* border: 1px soli d rgb(131, 206, 206); */
    /* padding: 20px; */
    border-radius:10px;
    
}
#about-me{
    border: 1px solid rgb(131, 206, 206);
    padding: 10px;
    font-size: 20px;
    letter-spacing: 4px;
}
#about-me:hover{
    border: 1px solid rgb(131, 206, 206);
    padding: 10px;
    background-color: aqua;
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
}
main{
    padding-top: 10%;
}
.btn{
    height:50px ;
    width: 100px;
    float: right;
    color: bisque;
    
}

.closebtn{
    color: rgb(58, 47, 109);
    font-size: 40px;
    height: 40px;
    margin:10px;
    width: 30px;
    text-align: center;
    font-family: var(--ff-primary);
    font-weight: 700;
    
}
.closebtn:hover, .closebtn:focus{
    background-color:  rgb(85, 84, 155);
    cursor: pointer;
    

}

.navbar{
    display:inline-block;
}
nav{
    display: none;
}


.navi2{
    background-color:rgba(225, 235, 229, 0.4);
    width: 200px;
    animation-name: modalOpen;
    animation-duration:3s;
}

@keyframes modalOpen{
    from{opacity: 0}
    to{opacity: 1}
}

.myself{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: bisque;
    text-align: center;
    letter-spacing: var(--spacing);
}
.myself-again{
    text-align: center;
    color: bisque;
    padding:30px;
}


