body{
    background-image: url("pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

}
.icon{
    border: 1px solid rgb(107, 109, 109);
    width:300px;
    height: 10%;
    margin: 20px;
    border-radius: 10px;
    padding:10px;
    text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
  display:block;
  background-color: rgb(83, 88, 88);
}
a{
    text-decoration: none;
    color: var(--clr-primary-5);
    
}
.icon:hover, .icon:focus{
    background-color: rgb(85, 84, 155);
    cursor: pointer;
}
h1{
    font-size: 4rem;
    letter-spacing: var(--spacing);
     text-transform: capitalize;
     line-height: 1.25;
     margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
     text-align: center;
     padding-top: 10%;
     color: cornsilk;
     

}
.about{
    
    margin: auto;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(131, 206, 206);
    padding: 10px;
    border-radius:10px;
    font-family: var(--ff-primary);
    font-size: 1rem;
    

   
}
.about h3{
    text-align: center;
    margin:0;
}

main{
    padding-top: 10%;
}
.btn{
    /* background-color:  rgba(94, 189, 130, 0.4); */
   /* padding:1em 2em;
    border-radius: 10px;
    border:0;
    height:50px ;
    width: 100px; */
    float: right;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    color: bisque;
    
}
.btn:hover{
    background-color:  rgb(85, 84, 155);
}
.closebtn{
    float:right;
    color: rgb(58, 47, 109);
    font-size: 40px;
    border: 1px solid rgba(94, 189, 130, 0.4);
    background-color:  rgba(94, 189, 130, 0.4);
    height: 40px;
    margin:10px;
    width: 30px;
    text-align: center;
    font-family: var(--ff-primary);
    border-radius: 10px;
    
}
.closebtn:hover, .closebtn:focus{
    background-color:  rgb(85, 84, 155);
    cursor: pointer;

}

.navbar{
    display:inline-block;
}
#nav{
    display: none;
    background-color: bisque;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    width: 400px;
    height: 100vh;
}
.navlist{
    list-style: none;
    /* margin: auto;
    text-align: center;
    margin: 0px; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 10px;
}
.navlist:hover{
    margin-left: 20px !important;
    font-size: 30px;
    font-weight: 900;
    
}